extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Gal Parselani

        p Full Stack JavaScript Developer and a Front-End Web Developer


        .about-bio

          p Hi, my name is Gal Parselani. I'm a passionate learner who's dedicated to becoming a skilled web developer. I'm constantly working on honing my skills in front-end web development and full-stack JavaScript. I love everything about the world of computers and technology, and I find the challenges of coding to be both exciting and rewarding. The best part of my journey has been taking on various projects, applying what I've learned, and seeing the results come to life. I'm committed to growing and expanding my knowledge in this field and striving to be the best that I can be.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Bootstrap
          li Asynchronous Programming
          li Closure
          li Functional Programming

        h6 Contact Info

        ul
          li 054-631-6666
          li gal@360affiliates.network

        a.btn-link(href='https://www.linkedin.com/in/gal-p-057554244/') LinkedIn
        a.btn-link(href='https://github.com/Parselinho') GitHub
        a.btn-link(href='https://www.facebook.com/gal.parselani') Facebook
        a.btn-link(href='https://www.instagram.com/galparselani/') Instagram

    nav.nav
      a(href='/')
        span &larr;
        |  Back