extends layout.pug

block content

  article.portfolio-intro
    .logo-box 
      img.logo(src='/static/images/logo.png', alt='My Logo')
    h1 Projects I built with JavaScript and HTML/CSS while self-studying & studying at 
      a(href='https://teamtreehouse.com' target='_blank') TeamTreeHouse
    p Create a gorgeous portfolio site to showcase the great projects I've built. The site will contain a modern landing page, an about page where I`ll have a chance to share contact info, practice my elevator pitch and talk a little about myself, and a series of project pages to show off and detail at least my first five projects from this Techdegree.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}` alt=`thumbnail profile picture for ${project.project_name}`)
            h5= project.project_name
