<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/profile.jpg', alt='gal profile picture')
        .dev-intro-box

          h5 Gal Parselani

          p I'm Gal Parselany, 32 years old, happily married. I hold a Bachelor's degree in Middle East and Criminology with a focus on the terrorist track. Additionally, I have completed studies in Front-End Web Development at TeamTreeHouse and recently started the Full-Stack JavaScript course as it is my passion and what I aspire to work on in the future. Since 2019, I have been working at 360affiliates company, initially as a System Manager, where I was responsible for handling all the leads in the company and analyzing statistics in every country and specific vocation. At the end of 2022, I moved to a new role as an SEO Specialist.

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Gal Parselani

      block content

  script(src='/static/js/script.js')